<%= link_to "Back to orders list", orders_path %>
<hr/>

<%= form_for @order do |f| %>
<p>
  <%= f.label :amount, "Amount" %>
  <%= f.text_field :amount %>
</p>

<p>
  <%= f.label :currency, "Currency" %>
  <%= f.select :currency, ['EUR', 'USD'] %>
</p>

<p>
  <%= f.label :usage, "Usage" %>
  <%= f.text_field :usage, value: (@order.usage || "Test payment ##{SecureRandom.hex}")  %>
</p>
<%= f.submit "Create", :disable_with => 'Creating...' %>
<% end %>
