<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Idnet Rails" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Idnet Rails" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag id_net_url('/api/popup.js') %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
    <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    (function(w){
       w._idapi = w._idapi || [];
       var url = document.location.protocol + '//' + document.location.host;
       var fn = function(){ w.location.reload(true); };
       var idnet = document.createElement('script');
       var s = document.getElementsByTagName('script')[0];

       w._idapi.push(['_setAppId','<%= APP_CONFIG[:app_id] %>']);
       w._idapi.push(['_setOAuthRedirectUri', url + '/auth/idnet/callback?iframe=true']);
       w._idapi.push(['_setOAuthScope', '']);
       w._idapi.push(['_setOAuthMeta', 'alternate', 'Dummy Test Name']);
       w._idapi.push(['_setOAuthMeta', 'alternate_privacy_url', url + '/#page/privacy']);
       w._idapi.push(['_setOAuthMeta', 'alternate_tos_url', url + '/#page/terms']);
       w._idapi.push(['_setOAuthResponseType', 'code']);
       w._idapi.push(['_setSuccessCallback', fn]);

       idnet.type = 'text/javascript';
       idnet.async = true;
       idnet.src = '<%= APP_CONFIG[:id_net_url] + "/assets/api.js" %>';
       s.parentNode.insertBefore(idnet, s);
     })(window);
    //]]>
    </script>
    <script type="text/javascript" charset="utf-8">
    //<![CDATA[
      window.idAsyncInit = function(){
        ID.init({
         appId: '<%= APP_CONFIG[:app_id] %>',
         redirectUri: document.location.href 
        });
      };
      (function () {
        var idnet = document.createElement('script');
        idnet.type = 'text/javascript';
        idnet.async = true;
        idnet.src = 'http://localhost:3000/api/sdk.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(idnet, s);
      })();
    //]]>
    </script>
  </body>
</html>
